@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #CDB79E;
  --color-secondary: #5C2D0E;
  --color-accent: #A0522D;
  --color-extra: #9e8f87;
  --color-dark-one: #2C1A0E;
  --color-dark-two: #1C0D0A;
  --color-dark-three: #231812;
  --color-dark-four: #1A1008;
  --color-primary-dark: #272933;
  --color-crown: #BF913B;
  --color-way: #8B4513;
    /* --color-primary: #32000c; */
}



@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }

  input {
    outline: none;
  }
}

@layer components {
    .container {
      max-width: 80rem;
      margin-inline: auto;
      padding-inline: 1rem;
    }

      .btn-primary {
      background: linear-gradient(to right, var(--color-dark-three), var(--color-secondary));
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 9999px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    /* .btn-primaryone:hover {
        transform: scale(1.05);
      } */

    .btn-primary:hover {
      background: var(--color-dark-two);
      color: white;
      transform: translateY(-3px);
      box-shadow: 0 10px 25px rgba(146, 116, 102, 0.4);
    }
  }

  @media (min-width: 40rem) {
    .container {
      padding-inline: 3rem;
    }
  }
