@import "tailwindcss";

@theme {
  --color-primary: #5C2D0E;
  --color-secondary: #8B4513;
  --color-accent: #A0522D;
}

@layer components {
  .container {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}